doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title NN チャット
  body
    h1 NN チャット
    form(method="post" action="/posts")
      div
        textarea(name="content" cols=40 rows=4)
      div
        button(type="submit") 送 信